<!-- <div class="image-uploader" (dragenter)="onDragEnter($event)"
                              (dragover)="onDragOver($event)"
                              (dragleave)="onDragLeave($event)"
                              (dragend)="onDragEnd($event)"
                              (drop)="onDrop($event)"
                              [ngStyle]="{'border-style':borderStyle}"> -->
  <input type="file" name="file" id="file" class="inputfile" (change)="fileChoose($event)"/>
  <label for="file" class="image-uploader"
      (dragenter)="onDragEnter($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (dragend)="onDragEnd($event)"
      (drop)="onDrop($event)"
      [ngStyle]="{'border-style':borderStyle}">
      Choose a file</label>

  <!-- <span>Upload Thumbnail</span> -->
<!-- </div> -->