<mat-expansion-panel>
  <mat-expansion-panel-header>
    {{job?.name}} - Details
  </mat-expansion-panel-header>

  <div id="detailsPanel">
    <ul id="breadcrumbs" class="light">
        <li [routerLink]="['/job', job?._id._str]">{{job?.name}}</li>
    </ul>

    <div id="details">

      <ul class="block jobInfo">
        <li class="bold jobName">
          {{job?.name}}
        </li>
        <li class="taskDescription">
          {{job?.description}}
        </li>
      </ul>

      <ul class="block cameraInfo">
        <li class="bold">Camera</li>
        <li class="cameraName">{{job?.camera.body}}</li>
        <li class="filmback">{{job?.camera.sensor.width}} x {{job?.camera.sensor.height}}</li>
      </ul>

      <ul class="block outputInfo">
        <li class="bold">Output</li>
        <li>Length: 60/30/15</li>
        <li>{{job?.output.width}}x{{job?.output.height}}</li>
      </ul>
    </div>
  </div>

</mat-expansion-panel>



<app-entities></app-entities>