<!-- <div  class="topnav"></div> -->

<div id="wrapper">
  <!-- LEFT -->
  <div id="topnav">
    <div class="hamburger-menu" [ngClass]="{open: sidenavLeft.opened}" (click)="sidenavLeft.toggle()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- CENTER -->
    <ul id="top-nav-list">
      <li>
        <a [routerLink]="['/jobs']">Jobs</a>
      </li>
    </ul>

    {{location}}

    <!-- RIGHT -->
    <button mat-mini-fab color="primary" id="create-button" (click)="sidenavRight.toggle()">
      <!-- <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">create</mat-icon> -->
      <i class="material-icons">create</i>
    </button>
  </div>

  <mat-sidenav-container class="container">
    <mat-sidenav #sidenavLeft class="sidenav" align="start">
      Jolly good!
    </mat-sidenav>

    <mat-sidenav #sidenavRight class="sidenav2" align="end">
      <app-entity-form *ngIf="showEntityForm"></app-entity-form>
      <app-job-form *ngIf="!showEntityForm"></app-job-form>
    </mat-sidenav>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>


