<mat-sidenav-container class="container">
  <mat-sidenav #sidenavRight class="sidenav2" align="end">
    <app-task-form #taskForm></app-task-form>
  </mat-sidenav>

  <div class="assignView" (click)="showAssign = !showAssign">
    <div class="assignViewIcon" [ngClass]="{showAssign: showAssign}">
      <i class="material-icons" matTooltip='Task Assignment' [matTooltipPosition]="'after'">people</i>
      <i class="material-icons" matTooltip='Cover View' [matTooltipPosition]="'after'">dashboard</i>
    </div>
  </div>

  <p style="margin:8px 8px 0 8px;">Shots ( {{(shots | async)?.length}} )</p>

  <div class="entities-container shots">
    <div *ngFor="let entity of shots | async; let id = index;" class="entity">
      <div class="entity-wrapper {{entity.status}}">
        <div class="details-slider" [ngClass]="{open: showAssign}">
          <!-- ENTITY COVER -->
          <div class="entity-cover">
            <app-thumbnail [thumbUrl]="entity.thumbUrl">
              <div class="banner fade">
                <a [routerLink]="['/entity', entity._id._str]">
                  <h1 class="cardTitle">{{entity.name}}</h1>
                  <h3 class="cardTag">{{entity.type}}</h3>
                </a>
              </div>
            </app-thumbnail>
          </div>
          <!-- ENTITY DETAILS -->
          <div class="entity-details {{entity.status}}">
            <i class="material-icons task-add-button" (click)="addTask(entity)">add_circle_outline</i>
            <div class="details-title bold">{{entity.name}}</div>
            <ul class="task-list">
              <li *ngFor="let task of entity.tasks; let taskId = index;" 
                 (click)="selectTask(entity, task);"
                 class="task-item {{task.status}}"
                 [ngClass]="{selected: task.selected}">
                <span class="type">{{task.type}} </span>
                <div class="chips chips-small">
                  <div *ngFor="let taskUser of task.users" class="chip" matTooltip={{taskUser}}>
                    {{taskUser | firstLetter}}
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p style="margin:8px 8px 0 8px;">Assets ( {{(assets | async)?.length}} )</p>

  <div class="entities-container assets">
    <div *ngFor="let entity of assets | async; let id = index;" class="entity">
      <div class="entity-wrapper">
        <app-thumbnail [thumbUrl]="entity.thumbUrl">
          <div class="banner fade">
            <a [routerLink]="['/entity', entity._id._str]">
              <h1 class="cardTitle">{{entity.name}}</h1>
              <h3 class="cardTag">{{entity.type}}</h3>
            </a>
          </div>
        </app-thumbnail>
      </div>
    </div>
  </div>

</mat-sidenav-container>


