// MIKE BATTCOCK ADDITIONS
// .mat-input-wrapper {
//     margin-top: 0px !important;
//     padding-bottom: 0.3em !important;
// }

// .mat-input-underline {
//     bottom: 0.5em !important;
// }

.mat-tab-label {
  min-width: 20px !important;
  line-height: 26px !important;
  height: 26px !important;
  font-size: 14px !important;
  font-family: inherit !important;
  flex: 1 1 auto !important;
  padding: 0 !important;
}
.mat-tab-body-wrapper {
  margin-top: 10px !important;
}

.mat-button, .mat-menu-item {
  font-size: 12px !important;
  min-width: 20px !important; 
  padding: 0px 10px !important;
  line-height: 26px !important;
  height: 26px !important;
}

.mat-menu-panel {
  min-width: 20px !important;
}

.mat-button-wrapper {
  padding: 0 !important;
}

////// TABS //////

.mat-tab-header-pagination {
  display: none !important;
}

.mat-sidenav-container {
  height: 100% !important;
}

// .mat-sidenav-content, .mat-drawer-content, .mat-drawer-container {
//   position: static !important;
// }